<div id="user_info">
  <div class="row">
    <div class="col-3">
      <p>Tên:</p>
    </div>
    <div class="col-9">Nguyễn Văn Đậu</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Tuổi:</p>
    </div>
    <div class="col-9">25</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Phòng ban:</p>
    </div>
    <div class="col-9">ITC</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Chức vụ:</p>
    </div>
    <div class="col-9">IT Interal - IT Internal Manager</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Chấm công:</p>
    </div>
    <div class="col-9">15 ngày</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Quên chấm công:</p>
    </div>
    <div class="col-9">1 ngày</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Công tạm tính:</p>
    </div>
    <div class="col-9">15 ngày</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Phép năm đã dùng:</p>
    </div>
    <div class="col-9">2 ngày</div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>Phép năm còn lại:</p>
    </div>
    <div class="col-9">4 ngày</div>
  </div>
</div>