<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-1">
    <div class="col-3">
      <span class="border border-secondary-subtle" style="width: 500px; height: 500px;">
        <!--Todo: Chưa chỉnh được hình user-->
      </span>
    </div>
    <div class="col-9">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h5 class="card-title">{{user.FirstName}} {{user.LastName}}</h5>
          </div>
          <div class="col-3">
            <p class="">{{user.Age}} tuổi</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="">{{user.Department}} - {{user.Title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>