<h5>Lịch sử chấm công:</h5>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ngày</th>
      <th scope="col">Giờ vào</th>
      <th scope="col">Giờ ra</th>
      <th scope="col">Công thực tế</th>
      <th scope="col">Loại</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>1/9/2024</td>
      <td>07:56</td>
      <td>17:05</td>
      <td>1</td>
      <td>CTY</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>1/9/2024</td>
      <td>08:06</td>
      <td>17:10</td>
      <td>1</td>
      <td>WFH</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1/9/2024</td>
      <td>08:15</td>
      <td>17:25</td>
      <td>1</td>
      <td>Phép Năm</td>
    </tr>
  </tbody>
</table>